
// Palette

$background-color: #020202;
$section-color: #0c0c0c;
$red-color: #FF4747;

// Mixins

@mixin flex ($justify, $align, $direction, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}